.menu {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: red;
}

.menuList {
    display: flex;
    justify-content: space-around;
    align-content:flex-end;
}

button {
    height: 25px;
    width: 25px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.show {
    display: block; 
}

.hide {
    display: none;
}