.navBar {
    height: 3.5rem;
    background-color: rgba(251, 17, 17, 0.97);
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu {
    height: 100vh;
    width: 0;
    padding-top: 4.5rem;
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: rgba(29, 29, 29, 0.97);
    color: var(--white-100);

    transition: all 0.3s ease;
}

.menu li {
    list-style: none;
    padding: 0.5rem 0;
}

.menuList {
    overflow: hidden;
    padding-left: 1rem;
}

.buttonsBurger {
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: sticky;
    top: 1.75rem;
    left: 10px;
    margin-left: 1rem;
    transform: translateY(-50%);
}

.buttonsBurger input {
    display: none;
    cursor: pointer;
}

.buttonsBurger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

.buttonsBurger div:last-child {
    margin-bottom: 0px;
}

.burgerLine {
    transition: all 0.3s ease;
}

.menuActive .burgerLine:first-child {
    transform: translateY(8px) rotate(45deg);
}

.menuActive .burgerLine:nth-child(2) {
    opacity: 0;
}

.menuActive .burgerLine:last-child {
    transform: translateY(-8px) rotate(-45deg);
}

.show {
    width: 50%;
}

.disable-scroll {
    overflow: hidden;
}