.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;

    margin: 0 1rem;
}

/* .projectsTitle {
    margin: 0 auto;
} */

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;

    border-radius: 0.5rem;
    box-shadow: var(--shadow);  
    
    transition: transform 0.2s linear;  
}

.cardContainer:hover {
    transform: translateY(-0.4rem);    
}

.cardImage {
    border-radius: 0.5rem;
}

.cardStack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardStack li {
    margin: 0.5rem;
    font-size: 0.8rem;
}

.cardDescription {
    text-align: center;
}

.cardIcons {
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
}

.svg {
    width: 1.5rem;
    height: auto;
    transition: fill 0.3s;
}

.svg:hover {
    stroke: #7aa3bb;
}