.skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsContent ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skillsContent li {
    display: inline;
    width: fit-content;
    max-width: 180px;
    background-color: red;
    margin: 0.5rem;
    padding: 0.5rem 0;
    text-align: center;
}