.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--titles-dark);
    width: fit-content;
    text-align: center;
}

.name {
    color: var(--name-dark);
    font-weight: 600;
}

h2 {
    font-size: 1.75em;
}