:root {
    --black-90: rgb(17, 18, 21);
    --gray-100: rgb(161, 161, 170);
    --blue-50: #46A4F6;
    --white-100: rgb(245, 245, 247);

    background-color: var(--black-90);
    color: var(--gray-100);
}

h1, h2, h3 {
    color: var(--white-100);
}

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

input, button, textarea, select {
    border: none;
}

body {
    font-family: "DM Mono";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img, video {
    max-width: 100%;
    height: auto;
}
