:root {
    --name-dark: #7aa3bb;
    --titles-dark: hsl(12, 83%, 62%);
    --text-dark: #E0FBFC;
    --bg-dark: #293241;

    --black-90: red;
    --gray-100: red;
    --blue-50: #f64646; 
    --white-100: red;
    --shadow: rgba(0, 0, 0, 0.295) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    background-color: var(--bg-dark);
    color: var(--text-dark);
}

h1,
h2,
h3 {
    color: var(--titles-dark);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

input,
button,
textarea,
select {
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 700px;
}

.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video {
    max-width: 100%;
    height: auto;
}